/* CUSTOM PROPERTIES*/

:root {
    --sedan-bkg-color: hsl(31, 77%, 52%);
    --suv-bkg-color: hsl(184, 100%, 22%);
    --lux-bkg-color: hsl(179, 100%, 13%);
    --sub-txt-color: hsla(0, 0%, 100%, 0.75);
    --main-txt-color: hsl(0, 0%, 95%);
}

/* BASE STYLES */

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    font-size: 15px;
}

p {
    color: var(--sub-txt-color);
    margin-bottom: 2rem;
    max-width: 27rem;
    line-height: 2em;
}

p,
button {
    font-family: 'Lexend Deca', sans-serif;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    color: var(--main-txt-color);
    margin-bottom: 2rem;
}

/* MAIN CARD STYLES */

.main_section {
    display: flex;
    flex-direction: column;  
}

.card_img {
    margin-bottom: 3rem;
}

.card_content {
    margin: 50px;
}

.sedan_card {
    background: var(--sedan-bkg-color);
}

.suv_card {
    background: var(--suv-bkg-color);
}

.luxury_card {
    background: var(--lux-bkg-color);
}

/* BUTTON STYLES */
/* :hover will give transparent effect */

button {
    padding: 20px 50px;
    border-radius: 2.25rem;
    border: none;
}
.sed_btn {
    color: var(--sedan-bkg-color)
}
.sed_btn:hover {
    border: 2px #fff solid;
    color: #fff;
}
.suv_btn {
    color: var(--suv-bkg-color)
}
.suv_btn:hover {
    border: 2px #fff solid;
    color: #fff;
}
.lux_btn {
    color: var(--lux-bkg-color)
}
.lux_btn:hover {
    border: 2px #fff solid;
    color: #fff;
}
/* This media querey will
    * Change mobile styles to desktop styles
    * Increase card_text elements
    * Increase img size
    * Increase button size
    * Implement desktop styles when the browser is at least 800px
*/

@media screen and (min-width: 856px) {
    .main_section {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .column {
        width: 33.33%;
    }

    img {
        height: 50px;
        width: auto;
    }

    .card_text {
        max-width: 17.7rem;
    }

    h2 {
        font-size: 3.5rem;
    }



    p {
        font-size: 19px;
        margin-bottom: 8rem;
    }
}

/* MAIN FOOTER*/
.attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
}

.attribution a {
    color:lightseagreen;
    font-size: 12px;
}


